# Obsidian-specific folder
.obsidian/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
# Compiled JavaScript output
main.js

# npm, Dependencies
node_modules/

# User folders
working_backup/

# Mac-specific files
.DS_Store

# IDE / Editor-specific files
.vscode/

# Build artifacts directory (if you create one)
build/